<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="site_title">礼品卡发放系统</title>
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css?v=<%= Date.now() %>">
    <script>
        const recommendLang = "<%= locals.recommendLang || 'en' %>";
        const isChineseIP = <%= locals.isChineseIP ? 'true' : 'false' %>;
        const blockChineseIP = <%= locals.blockChineseIP ? 'true' : 'false' %>;
    </script>
</head>

<body>
    <% if (blockChineseIP && isChineseIP) { %>
    <div class="container">
        <main>
            <div class="blocked-cn-ip-message">
                <p data-i18n="blocked_cn_ip">很抱歉，因政策原因，中国大陆IP暂时无法访问本系统。</p>
            </div>
        </main>
    </div>
    <% } else { %>
    <div class="container">
        <main>
            <%- include('partials/navbar-page_v4') %>
            <%- include('partials/welcome-page_v4') %>
            <%- include('partials/login-page_v4') %>
            <%- include('partials/waiting-page') %>
            <%- include('partials/verification-page_v4') %>
            <%- include('partials/waiting-verification-page') %>
            <%- include('partials/gift-card-page_v4') %>
            <%- include('partials/checkin-page') %>
            <%- include('partials/history-page') %>
        </main>
    </div>
    <% } %>
    <script src="/socket.io/socket.io.js?v=<%= Date.now() %>"></script>
    <script src="js/page-tracking.js?v=<%= Date.now() %>"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/i18n.js?v=<%= Date.now() %>"></script>
    <script src="js/welcome.js?v=<%= Date.now() %>"></script>
    <script src="js/app.js?v=<%= Date.now() %>"></script>
</body>

</html>
